$border-buttons: 2px solid #478bf9;
$border-header: 3px solid #478bf9;
$width-height-coin: 100px;
$height-container-animation: 220px;
$border-animation: 3px solid #478bf9;
$border-weight-animation: 3px;
$border-animation-white: $border-weight-animation solid #a09da5;
$border-list-of-blogs: 3px solid #478bf9;
$border-animation-mobile: 1px solid #478bf9;
$border-footer-mobile: 2px solid #478bf9;
